.navbar {
    background-color:rgb(187, 130, 187) !important;
    height: 90px;
    
}

.navbar-brand > img {
    width: 200px;
    height: 150px;
}
.nav-link{
    margin-top: 20px;
    color:blue !important;
    font-weight: bolder !important;
    font-size: 20px;
    padding: 20px !important;
}
.button{

  background-color: #4CAF50; /* Green */
  border-radius: 10px;
  color: white;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.carousel-inner > .carousel-item > img{
    width:100% !important; 
    height:550px !important;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px;
    height: 90px;
    
}
.f2{
    padding-left: 30%;
    padding-top: 25px;
    font-size: 15px;
}
.f1{
    padding-top: 25px;
    padding-left: 10px;
    font-size: 15px;
}
.na{
    text-align: center;
    background-color:khaki;
}
.card-img-top{
    height: 20rem;
    width: 16rem;
}

.card{
    
   margin: auto;
    padding: 15px;
    
}